In [87]:
from sqlalchemy import create_engine
import pandas as pd
import sys
from datetime import datetime, timedelta

In [88]:
engine = create_engine("postgresql://brasfoot:brasfoot@localhost:5432/brasfoot")

In [75]:
def insert_coach(coach_name):
    sql = f"""
    BEGIN TRANSACTION;
    INSERT INTO coach (name, country)
    VALUES ('{coach_name}', 'Brazil');
    COMMIT TRANSACTION;
    """
    engine.execute(sql)


def trains(coach_name, choosen_team):
    sql = f"""BEGIN TRANSACTION;
    INSERT INTO trains(coach, team, name_team)
    VALUES(
    (SELECT id FROM public.coach WHERE coach.name = '{coach_name}'),
    (SELECT id FROM public.team WHERE team.name = '{choosen_team}'),
    (SELECT name FROM public.team WHERE team.id = (SELECT id FROM public.team WHERE team.name = '{choosen_team}'))
    );
    COMMIT
    TRANSACTION;"""
    engine.execute(sql)


def round_robin_gen(teams, away_home=False):
    if len(teams) % 2 != 0:
        teams.append(None)

    matches = []
    for it in range(len(teams) - 1):
        matches.append([[teams[i], teams[i + len(teams)//2]]
                        for i in range(len(teams)//2)])
        teams.insert(1, teams.pop())

    if away_home:
        return matches + [[a[::-1] for a in m] for m in matches]

    return matches


def init():
    print('Olá, seja bem-vind@ ao jogo Brasfoot!')
    coach_name = input('Escolha o seu nickname de treinador(a): ')

    print('Escolha um time para treinar: ')
    teams = pd.read_sql_query('SELECT name FROM team ORDER BY name ASC', con=engine)
    print(teams)
    n = int(input('Número do time: '))

    choosen_team = str(teams.iloc[n].values)[2:-2]
    print('\n Você escolheu o time: ', choosen_team)
    insert_coach(coach_name)

    return coach_name, choosen_team

In [37]:
if __name__ == '__main__':
    coach_name, choosen_team = init()
    trains(coach_name, choosen_team)

    team_id = str(pd.read_sql_query("SELECT * FROM team WHERE name = '{}'".format(choosen_team), con=engine).reset_index(drop=True).id.values[0])
    display(pd.read_sql_query("SELECT position, name, age, side, strength, energy, salary, market_value, feature1, feature2, contract_due_date FROM player WHERE team = '{}'".format(team_id), con=engine))

    print("\n O que deseja fazer? ")
    print("1. Escalar time e jogar próxima partida")
    print("2. Comprar/Vender jogador")
    print("3. Ver calendário de partidas")

Olá, seja bem-vind@ ao jogo Brasfoot!
Escolha um time para treinar:
       name
0    AthleticoPR
1     AtleticoMG
2     Bragantino
3    Corinthians
4       Cruzeiro
5       Flamengo
6     Fluminense
7  Internacional
8      Palmeiras
9       SaoPaulo

 Você escolheu o time:  Corinthians

   position       name        age side  strength  energy  salary   market_value feature1  feature2  contract_due_date
0      G              Cassio  35    E      50       100   15000.0       2.0      penalty  colocacao     2023-01-01
1      L        Rafael Ramos  27    D      50       100   15000.0       2.0      penalty  colocacao     2023-01-01
2      Z            Balbuena  30    D      50       100   15000.0       2.0      penalty  colocacao     2023-01-01
3      Z        Bruno Méndez  22    D      50       100   15000.0       2.0      penalty  colocacao     2023-01-01
4      L        Fabio Santos  36    E      50       100   15000.0       2.0      penalty  colocacao     2023-01-01
5      M              Maycon  24    E      50       100   15000.0       2.0      penalty  colocacao     2023-01-01
6      M         Fausto Vera  22    E      50       100   15000.0       2.0      penalty  colocacao     2023-01-01
7      M          Du Queiroz  22    E      50       100   15000.0       2.0      penalty  colocacao     2023-01-01
8      A        Yuri Alberto  21    E      50       100   15000.0       2.0      penalty  colocacao     2023-01-01
9      M               Adson  21    E      50       100   15000.0       2.0      penalty  colocacao     2023-01-01
10     M             Willian  33    E      50       100   15000.0       2.0      penalty  colocacao     2023-01-01
11     G     Matheus Donelli  20    E      50       100   15000.0       2.0      penalty  colocacao     2023-01-01
12     Z        Raul Gustavo  23    E      50       100   15000.0       2.0      penalty  colocacao     2023-01-01
13     M              Ramiro  29    D      50       100   15000.0       2.0      penalty  colocacao     2023-01-01
14     A        Mateus Vital  24    D      50       100   15000.0       2.0      penalty  colocacao     2023-01-01

 O que deseja fazer?
1. Escalar time e jogar próxima partida
2. Comprar/Vender jogador
3. Ver calendário de partidas

In [89]:
rounds = round_robin_gen(list(pd.read_sql_query('SELECT name FROM team ORDER BY name ASC', con=engine)["name"].values), away_home=True)
date = datetime(2022,1,1)

for round in rounds:
    for match in round:
        print(match, date)
        engine.execute(
            """INSERT INTO match (
                id_championship,
                date,
                id_team_host,
                name_team_host,
                id_team_visitor,
                name_team_visitor,
                id_stadium
            )
            VALUES (
                (SELECT id FROM public.championship WHERE championship.is_cup = FALSE LIMIT 1),
                '{}',
                (SELECT id FROM team WHERE team.name = '{}' LIMIT 1),
                (SELECT name FROM public.team WHERE team.id = (SELECT id FROM public.team WHERE team.name = '{}')),
                (SELECT id FROM team WHERE team.name = '{}' LIMIT 1),
                (SELECT name FROM public.team WHERE team.id = (SELECT id FROM public.team WHERE team.name = '{}')),
                (SELECT stadium.id FROM stadium,team WHERE stadium.team = team.id AND team.name = '{}' LIMIT 1)
            );""".format(date.strftime("%m/%d/%Y"), match[0], match[0], match[1], match[1], match[0])
        )
    date = date + timedelta(7)

['AthleticoPR', 'Flamengo'] 2022-01-01 00:00:00
['AtleticoMG', 'Fluminense'] 2022-01-01 00:00:00
['Bragantino', 'Internacional'] 2022-01-01 00:00:00
['Corinthians', 'Palmeiras'] 2022-01-01 00:00:00
['Cruzeiro', 'SaoPaulo'] 2022-01-01 00:00:00
['AthleticoPR', 'Cruzeiro'] 2022-01-08 00:00:00
['SaoPaulo', 'Flamengo'] 2022-01-08 00:00:00
['AtleticoMG', 'Fluminense'] 2022-01-08 00:00:00
['Bragantino', 'Internacional'] 2022-01-08 00:00:00
['Corinthians', 'Palmeiras'] 2022-01-08 00:00:00
['AthleticoPR', 'Corinthians'] 2022-01-15 00:00:00
['Palmeiras', 'Cruzeiro'] 2022-01-15 00:00:00
['SaoPaulo', 'Flamengo'] 2022-01-15 00:00:00
['AtleticoMG', 'Fluminense'] 2022-01-15 00:00:00
['Bragantino', 'Internacional'] 2022-01-15 00:00:00
['AthleticoPR', 'Bragantino'] 2022-01-22 00:00:00
['Internacional', 'Corinthians'] 2022-01-22 00:00:00
['Palmeiras', 'Cruzeiro'] 2022-01-22 00:00:00
['SaoPaulo', 'Flamengo'] 2022-01-22 00:00:00
['AtleticoMG', 'Fluminense'] 2022-01-22 00:00:00
['AthleticoPR', 'AtleticoMG'] 2022-01-29 00:00:00
['Fluminense', 'Bragantino'] 2022-01-29 00:00:00
['Internacional', 'Corinthians'] 2022-01-29 00:00:00
['Palmeiras', 'Cruzeiro'] 2022-01-29 00:00:00
['SaoPaulo', 'Flamengo'] 2022-01-29 00:00:00
['AthleticoPR', 'SaoPaulo'] 2022-02-05 00:00:00
['Flamengo', 'AtleticoMG'] 2022-02-05 00:00:00
['Fluminense', 'Bragantino'] 2022-02-05 00:00:00
['Internacional', 'Corinthians'] 2022-02-05 00:00:00
['Palmeiras', 'Cruzeiro'] 2022-02-05 00:00:00
['AthleticoPR', 'Palmeiras'] 2022-02-12 00:00:00
['Cruzeiro', 'SaoPaulo'] 2022-02-12 00:00:00
['Flamengo', 'AtleticoMG'] 2022-02-12 00:00:00
['Fluminense', 'Bragantino'] 2022-02-12 00:00:00
['Internacional', 'Corinthians'] 2022-02-12 00:00:00
['AthleticoPR', 'Internacional'] 2022-02-19 00:00:00
['Corinthians', 'Palmeiras'] 2022-02-19 00:00:00
['Cruzeiro', 'SaoPaulo'] 2022-02-19 00:00:00
['Flamengo', 'AtleticoMG'] 2022-02-19 00:00:00
['Fluminense', 'Bragantino'] 2022-02-19 00:00:00
['AthleticoPR', 'Fluminense'] 2022-02-26 00:00:00
['Bragantino', 'Internacional'] 2022-02-26 00:00:00
['Corinthians', 'Palmeiras'] 2022-02-26 00:00:00
['Cruzeiro', 'SaoPaulo'] 2022-02-26 00:00:00
['Flamengo', 'AtleticoMG'] 2022-02-26 00:00:00
['Flamengo', 'AthleticoPR'] 2022-03-05 00:00:00
['Fluminense', 'AtleticoMG'] 2022-03-05 00:00:00
['Internacional', 'Bragantino'] 2022-03-05 00:00:00
['Palmeiras', 'Corinthians'] 2022-03-05 00:00:00
['SaoPaulo', 'Cruzeiro'] 2022-03-05 00:00:00
['Cruzeiro', 'AthleticoPR'] 2022-03-12 00:00:00
['Flamengo', 'SaoPaulo'] 2022-03-12 00:00:00
['Fluminense', 'AtleticoMG'] 2022-03-12 00:00:00
['Internacional', 'Bragantino'] 2022-03-12 00:00:00
['Palmeiras', 'Corinthians'] 2022-03-12 00:00:00
['Corinthians', 'AthleticoPR'] 2022-03-19 00:00:00
['Cruzeiro', 'Palmeiras'] 2022-03-19 00:00:00
['Flamengo', 'SaoPaulo'] 2022-03-19 00:00:00
['Fluminense', 'AtleticoMG'] 2022-03-19 00:00:00
['Internacional', 'Bragantino'] 2022-03-19 00:00:00
['Bragantino', 'AthleticoPR'] 2022-03-26 00:00:00
['Corinthians', 'Internacional'] 2022-03-26 00:00:00
['Cruzeiro', 'Palmeiras'] 2022-03-26 00:00:00
['Flamengo', 'SaoPaulo'] 2022-03-26 00:00:00
['Fluminense', 'AtleticoMG'] 2022-03-26 00:00:00
['AtleticoMG', 'AthleticoPR'] 2022-04-02 00:00:00
['Bragantino', 'Fluminense'] 2022-04-02 00:00:00
['Corinthians', 'Internacional'] 2022-04-02 00:00:00
['Cruzeiro', 'Palmeiras'] 2022-04-02 00:00:00
['Flamengo', 'SaoPaulo'] 2022-04-02 00:00:00
['SaoPaulo', 'AthleticoPR'] 2022-04-09 00:00:00
['AtleticoMG', 'Flamengo'] 2022-04-09 00:00:00
['Bragantino', 'Fluminense'] 2022-04-09 00:00:00
['Corinthians', 'Internacional'] 2022-04-09 00:00:00
['Cruzeiro', 'Palmeiras'] 2022-04-09 00:00:00
['Palmeiras', 'AthleticoPR'] 2022-04-16 00:00:00
['SaoPaulo', 'Cruzeiro'] 2022-04-16 00:00:00
['AtleticoMG', 'Flamengo'] 2022-04-16 00:00:00
['Bragantino', 'Fluminense'] 2022-04-16 00:00:00
['Corinthians', 'Internacional'] 2022-04-16 00:00:00
['Internacional', 'AthleticoPR'] 2022-04-23 00:00:00
['Palmeiras', 'Corinthians'] 2022-04-23 00:00:00
['SaoPaulo', 'Cruzeiro'] 2022-04-23 00:00:00
['AtleticoMG', 'Flamengo'] 2022-04-23 00:00:00
['Bragantino', 'Fluminense'] 2022-04-23 00:00:00
['Fluminense', 'AthleticoPR'] 2022-04-30 00:00:00
['Internacional', 'Bragantino'] 2022-04-30 00:00:00
['Palmeiras', 'Corinthians'] 2022-04-30 00:00:00
['SaoPaulo', 'Cruzeiro'] 2022-04-30 00:00:00
['AtleticoMG', 'Flamengo'] 2022-04-30 00:00:00

In [90]:
pd.read_sql_query("SELECT * FROM match", con=engine)

,id,id_championship,date,id_team_host,name_team_host,id_team_visitor,name_team_visitor,id_stadium
0,e4f98524-7e99-4fa8-beb6-d3eabab3264c,68527ad4-e080-4e15-86e3-a84a0601dba2,2023-01-01,0291e111-2a17-4aa2-9e0f-f5b89a39d138,Cruzeiro,10e6a53f-fa4b-4fec-a994-2da4f3ab32ea,Corinthians,772be8ba-c5f5-4584-8125-1b6a5024a0f2
1,6f32ca7a-5d9a-4af3-a6ac-d49d7c306220,68527ad4-e080-4e15-86e3-a84a0601dba2,2024-02-02,08ab6cba-66ee-401b-96d7-aab0e8827513,Flamengo,10e6a53f-fa4b-4fec-a994-2da4f3ab32ea,Corinthians,2aa424ee-5e21-4aab-aca2-83eb8f80c20e
2,4ad3a112-b49b-4eb9-be4c-560f9d2dde65,68527ad4-e080-4e15-86e3-a84a0601dba2,2024-03-03,10e6a53f-fa4b-4fec-a994-2da4f3ab32ea,Corinthians,08ab6cba-66ee-401b-96d7-aab0e8827513,Flamengo,37683ece-ca26-4b4b-aac6-5dffe4202ec3
3,def36c35-c582-4c99-bfe6-2f4abe4dda2d,68527ad4-e080-4e15-86e3-a84a0601dba2,2022-01-01,60527351-6da0-448b-9297-91d74d7f49f3,AthleticoPR,08ab6cba-66ee-401b-96d7-aab0e8827513,Flamengo,c87c7ebb-cfa5-4be9-8bf1-a2f5efc8f091
4,fa96447d-2a0b-4635-9dcb-18c857eadfd2,68527ad4-e080-4e15-86e3-a84a0601dba2,2022-01-01,e65b6a6f-569b-4ed5-a93a-7c979ab3a8ff,AtleticoMG,79d51b1c-055c-44b0-a84a-f14cfffd314e,Fluminense,3484cbdf-ce3d-4c17-a1df-b16a3b7dad65
...,...,...,...,...,...,...,...,...
88,10d88c7b-7f2a-41e1-b1b3-863e7a32fc81,68527ad4-e080-4e15-86e3-a84a0601dba2,2022-04-30,79d51b1c-055c-44b0-a84a-f14cfffd314e,Fluminense,60527351-6da0-448b-9297-91d74d7f49f3,AthleticoPR,2571c332-dc45-4d12-8838-8fa3c322a7b2
89,c2416622-b08d-442c-8ca8-204eadf1c8df,68527ad4-e080-4e15-86e3-a84a0601dba2,2022-04-30,fa8b6cc9-83b0-4bc2-be67-6479226a33e0,Internacional,47b3a703-62c5-49ff-9a4e-e246f6ed1c45,Bragantino,da0078eb-e04d-4e19-9818-c21963585e65
90,52a5c953-6011-47f2-aea4-38393c70f733,68527ad4-e080-4e15-86e3-a84a0601dba2,2022-04-30,9c6509bd-19ff-419b-ad24-0823519d1791,Palmeiras,10e6a53f-fa4b-4fec-a994-2da4f3ab32ea,Corinthians,5f398b7a-9c1d-4a45-b6c0-308846d61542
91,fc0be782-e0d4-4f88-8091-d93c3c64f9fe,68527ad4-e080-4e15-86e3-a84a0601dba2,2022-04-30,f1e9e0c8-a7a9-4e31-b6e2-e3d78e1b661e,SaoPaulo,0291e111-2a17-4aa2-9e0f-f5b89a39d138,Cruzeiro,67f25557-d766-4ca5-b033-4b733182d690
92,25f5f03a-59fa-44f5-8d74-45385d781057,68527ad4-e080-4e15-86e3-a84a0601dba2,2022-04-30,e65b6a6f-569b-4ed5-a93a-7c979ab3a8ff,AtleticoMG,08ab6cba-66ee-401b-96d7-aab0e8827513,Flamengo,3484cbdf-ce3d-4c17-a1df-b16a3b7dad65