In [181]:
import pandas as pd

from sqlalchemy import create_engine
from datetime import datetime, timedelta
from consolemenu import *
from consolemenu.items import *
from tabulate import tabulate

ENGINE = create_engine("postgresql://brasfoot:brasfoot@localhost:5432/brasfoot")

In [175]:
team_id = "009c440e-5c47-497f-a975-8cc8025cacf3"
choosen_team = "Corinthians"

In [176]:
i = 0

In [177]:
date = datetime(2022,1,1) + timedelta(i)
date = date.strftime("%Y-%m-%d")
date

'2022-01-01'

In [188]:
df = pd.read_sql_query(
        """
            SELECT 
                position, 
                name, 
                age, 
                strength, 
                energy,
                feature1,
                feature2,
                salary,
                market_value,
                contract_due_date
            FROM 
                player 
            WHERE 
                team = '{}'""".format(team_id), con=ENGINE).sort_values(by="position", key=lambda x: x.map({"G":0, "L":1, "Z":2, "M":3, "A":4})).reset_index(drop=True)

df["salary"] = df["salary"].apply(lambda x: '${:,.2f}'.format((x/1000)))
df["market_value"] = df["market_value"].apply(lambda x: '${:,.2f}'.format((x/1000)))
df = df.rename(columns={"name":"jogador"})

In [189]:
tabulate(df, headers='keys', tablefmt='fancy_grid').split("\n")

['╒════╤════════════╤═════════════════╤═══════╤════════════╤══════════╤═════════════╤═════════════╤═══════════╤════════════════╤═════════════════════╕',
 '│    │ position   │ jogador         │   age │   strength │   energy │ feature1    │ feature2    │ salary    │ market_value   │ contract_due_date   │',
 '╞════╪════════════╪═════════════════╪═══════╪════════════╪══════════╪═════════════╪═════════════╪═══════════╪════════════════╪═════════════════════╡',
 '│  0 │ G          │ Cassio          │    35 │         82 │      100 │ saida gol   │ passe       │ $150.00   │ $1,500.00      │ 2023-01-01          │',
 '├────┼────────────┼─────────────────┼───────┼────────────┼──────────┼─────────────┼─────────────┼───────────┼────────────────┼─────────────────────┤',
 '│  1 │ G          │ Matheus Donelli │    20 │         74 │      100 │ passe       │ resistencia │ $250.00   │ $2,500.00      │ 2023-01-01          │',
 '├────┼────────────┼─────────────────┼───────┼────────────┼──────────┼─────────────┼─────────────┼───────────┼────────────────┼─────────────────────┤',
 '│  2 │ L          │ Rafael Ramos    │    27 │         71 │      100 │ reflexo     │ cabeceio    │ $80.00    │ $800.00        │ 2023-01-01          │',
 '├────┼────────────┼─────────────────┼───────┼────────────┼──────────┼─────────────┼─────────────┼───────────┼────────────────┼─────────────────────┤',
 '│  3 │ L          │ Fabio Santos    │    36 │         65 │      100 │ finalizacao │ reflexo     │ $30.00    │ $300.00        │ 2023-01-01          │',
 '├────┼────────────┼─────────────────┼───────┼────────────┼──────────┼─────────────┼─────────────┼───────────┼────────────────┼─────────────────────┤',
 '│  4 │ Z          │ Balbuena        │    30 │         76 │      100 │ desarme     │ armacao     │ $600.00   │ $6,000.00      │ 2023-01-01          │',
 '├────┼────────────┼─────────────────┼───────┼────────────┼──────────┼─────────────┼─────────────┼───────────┼────────────────┼─────────────────────┤',
 '│  5 │ Z          │ Bruno Méndez    │    22 │         68 │      100 │ cruzamento  │ colocacao   │ $350.00   │ $3,500.00      │ 2023-01-01          │',
 '├────┼────────────┼─────────────────┼───────┼────────────┼──────────┼─────────────┼─────────────┼───────────┼────────────────┼─────────────────────┤',
 '│  6 │ Z          │ Raul Gustavo    │    23 │         74 │      100 │ penalty     │ drible      │ $350.00   │ $3,500.00      │ 2023-01-01          │',
 '├────┼────────────┼─────────────────┼───────┼────────────┼──────────┼─────────────┼─────────────┼───────────┼────────────────┼─────────────────────┤',
 '│  7 │ M          │ Maycon          │    24 │         73 │      100 │ marcacao    │ drible      │ $700.00   │ $7,000.00      │ 2023-01-01          │',
 '├────┼────────────┼─────────────────┼───────┼────────────┼──────────┼─────────────┼─────────────┼───────────┼────────────────┼─────────────────────┤',
 '│  8 │ M          │ Fausto Vera     │    22 │         70 │      100 │ resistencia │ passe       │ $600.00   │ $6,000.00      │ 2023-01-01          │',
 '├────┼────────────┼─────────────────┼───────┼────────────┼──────────┼─────────────┼─────────────┼───────────┼────────────────┼─────────────────────┤',
 '│  9 │ M          │ Du Queiroz      │    22 │         66 │      100 │ reflexo     │ marcacao    │ $500.00   │ $5,000.00      │ 2023-01-01          │',
 '├────┼────────────┼─────────────────┼───────┼────────────┼──────────┼─────────────┼─────────────┼───────────┼────────────────┼─────────────────────┤',
 '│ 10 │ M          │ Adson           │    21 │         78 │      100 │ velocidade  │ cabeceio    │ $500.00   │ $5,000.00      │ 2023-01-01          │',
 '├────┼────────────┼─────────────────┼───────┼────────────┼──────────┼─────────────┼─────────────┼───────────┼────────────────┼─────────────────────┤',
 '│ 11 │ M          │ Willian         │    33 │         85 │      100 │ finalizacao │ colocacao   │ $400.00   │ $4,000.00      │ 2023-01-01          │',
 '├────┼────────────┼─────────────────┼───────┼────────────┼──────────┼─────────────┼─────────────┼───────────┼────────────────┼─────────────────────┤',
 '│ 12 │ M          │ Ramiro          │    29 │         76 │      100 │ penalty     │ reflexo     │ $250.00   │ $2,500.00      │ 2023-01-01          │',
 '├────┼────────────┼─────────────────┼───────┼────────────┼──────────┼─────────────┼─────────────┼───────────┼────────────────┼─────────────────────┤',
 '│ 13 │ A          │ Yuri Alberto    │    21 │         78 │      100 │ armacao     │ saida gol   │ $1,600.00 │ $16,000.00     │ 2023-01-01          │',
 '├────┼────────────┼─────────────────┼───────┼────────────┼──────────┼─────────────┼─────────────┼───────────┼────────────────┼─────────────────────┤',
 '│ 14 │ A          │ Mateus Vital    │    24 │         76 │      100 │ saida gol   │ cruzamento  │ $250.00   │ $2,500.00      │ 2023-01-01          │',
 '╘════╧════════════╧═════════════════╧═══════╧════════════╧══════════╧═════════════╧═════════════╧═══════════╧════════════════╧═════════════════════╛']

In [190]:
n_players = list(map(int, input().split()))

In [191]:
len(n_players)

11

In [192]:
lineup_players = df.iloc[n_players].reset_index(drop=True)

for i in range(len(lineup_players)):

    player = lineup_players.iloc[i]

    ENGINE.execute("""
                INSERT INTO lineup_match (
                    id_match,
                    id_team,
                    name_team,
                    id_player,
                    name_player,
                    is_starter,
                    is_modified
                    )

                VALUES (
                        
                    (SELECT match.id FROM match WHERE (match.date = '{}') AND (match.id_team_host = '{}'  OR match.id_team_visitor = '{}')),
                    
                    '{}',
                    
                    '{}',

                    (SELECT player.id FROM player WHERE (player.name = '{}') AND (player.name_team = '{}')),
                    
                    '{}',
                    
                    True,
                    
                    False);""".format(
                        date,
                        team_id,
                        team_id,
                        team_id,
                        choosen_team,
                        player.jogador,
                        choosen_team,
                        player.jogador,


                    ), con=engine)

In [82]:
lineup_players["strength"].mean(), lineup_players["energy"].mean()

(50.0, 100.0)

In [95]:
other_teams = pd.read_sql_query(f""" SELECT team.id, team.name FROM team WHERE name <> '{choosen_team}'""", con=ENGINE)

In [131]:
for id, name in zip(other_teams["id"], other_teams["name"]):
    
    df = pd.read_sql_query(
            """
                SELECT 
                    position, 
                    name, 
                    age, 
                    strength, 
                    energy,
                    feature1,
                    feature2,
                    salary,
                    market_value,
                    contract_due_date
                FROM 
                    player 
                WHERE 
                    team = '{}'""".format(id), con=ENGINE).sort_values(by="position", key=lambda x: x.map({"G":0, "L":1, "Z":2, "M":3, "A":4})).reset_index(drop=True)

    list_players = [df[df["position"] == "G"].iloc[0].name] + list(df[df["position"] == "L"].iloc[0:2].index) + list(df[df["position"] == "Z"].iloc[0:2].index) + list(df[df["position"] == "M"].iloc[0:4].index) + list(df[df["position"] == "A"].iloc[0:2].index)

    lineup_players = df.iloc[list_players].reset_index(drop=True)
    lineup_players = lineup_players.rename(columns={"name":"jogador"})

    for i in range(len(lineup_players)):

        player = lineup_players.iloc[i]

        ENGINE.execute("""
                    INSERT INTO lineup_match (
                        id_match,
                        id_team,
                        name_team,
                        id_player,
                        name_player,
                        is_starter,
                        is_modified
                        )

                    VALUES (
                            
                        (SELECT match.id FROM match WHERE (match.date = '{}') AND (match.id_team_host = '{}'  OR match.id_team_visitor = '{}')),
                        
                        '{}',
                        
                        '{}',

                        (SELECT player.id FROM player WHERE (player.name = '{}') AND (player.name_team = '{}')),
                        
                        '{}',
                        
                        True,
                        
                        False);""".format(
                            date,
                            id,
                            id,
                            id,
                            name,
                            player.jogador,
                            name,
                            player.jogador,


                        ), con=engine)

In [148]:
players_ids = "("

for i in range(len(pd.read_sql_query("SELECT id_player FROM public.lineup_match WHERE (id_team = '{}')".format("38fa715a-290a-44b6-aeaa-5186f2cb7969"), con=ENGINE)["id_player"])):

    if i == (len(pd.read_sql_query("SELECT id_player FROM public.lineup_match WHERE (id_team = '{}')".format("38fa715a-290a-44b6-aeaa-5186f2cb7969"), con=ENGINE)["id_player"]) - 1):
        players_ids += "'{}')".format(str(pd.read_sql_query("SELECT id_player FROM public.lineup_match WHERE (id_team = '{}')".format("38fa715a-290a-44b6-aeaa-5186f2cb7969"), con=ENGINE)["id_player"][i]))
    else:
        players_ids += "'{}',".format(str(pd.read_sql_query("SELECT id_player FROM public.lineup_match WHERE (id_team = '{}')".format("38fa715a-290a-44b6-aeaa-5186f2cb7969"), con=ENGINE)["id_player"][i]))

In [151]:
pd.read_sql_query("SELECT * FROM public.player WHERE player.id IN {}".format(players_ids), con=ENGINE)["strength"].mean()

50.0

In [152]:
pd.read_sql_query("SELECT * FROM public.player WHERE player.id IN {}".format(players_ids), con=ENGINE)["energy"].mean()

100.0

In [185]:
def play_round(team_id, choosen_team, i):

    df = pd.read_sql_query(
            """
                SELECT 
                    position, 
                    name, 
                    age, 
                    strength, 
                    energy,
                    feature1,
                    feature2,
                    salary,
                    market_value,
                    contract_due_date
                FROM 
                    player 
                WHERE 
                    team = '{}'""".format(team_id), con=ENGINE).sort_values(by="position", key=lambda x: x.map({"G":0, "L":1, "Z":2, "M":3, "A":4})).reset_index(drop=True)

    df["salary"] = df["salary"].apply(lambda x: '${:,.2f}'.format((x/1000)))
    df["market_value"] = df["market_value"].apply(lambda x: '${:,.2f}'.format((x/1000)))
    df = df.rename(columns={"name":"jogador"})

    print(tabulate(df, headers='keys', tablefmt='fancy_grid'))

    n_players = list(map(int, input("Selecione os jogadores para a partida: ").split()))
    
    lineup_players = df.iloc[n_players].reset_index(drop=True)

    for i in range(len(lineup_players)):

        player = lineup_players.iloc[i]

        ENGINE.execute("""
                    INSERT INTO lineup_match (
                        id_match,
                        id_team,
                        name_team,
                        id_player,
                        name_player,
                        is_starter,
                        is_modified
                        )

                    VALUES (
                            
                        (SELECT match.id FROM match WHERE (match.date = '{}') AND (match.id_team_host = '{}'  OR match.id_team_visitor = '{}')),
                        
                        '{}',
                        
                        '{}',

                        (SELECT player.id FROM player WHERE (player.name = '{}') AND (player.name_team = '{}')),
                        
                        '{}',
                        
                        True,
                        
                        False);""".format(
                            date,
                            team_id,
                            team_id,
                            team_id,
                            choosen_team,
                            player.jogador,
                            choosen_team,
                            player.jogador,


                        ), con=engine)

    print("JOGADORES ESCALADOS")

    other_teams = pd.read_sql_query(f""" SELECT team.id, team.name FROM team WHERE name <> '{choosen_team}'""", con=ENGINE)
    
    for id, name in zip(other_teams["id"], other_teams["name"]):
    
        df = pd.read_sql_query(
                """
                    SELECT 
                        position, 
                        name, 
                        age, 
                        strength, 
                        energy,
                        feature1,
                        feature2,
                        salary,
                        market_value,
                        contract_due_date
                    FROM 
                        player 
                    WHERE 
                        team = '{}'""".format(id), con=ENGINE).sort_values(by="position", key=lambda x: x.map({"G":0, "L":1, "Z":2, "M":3, "A":4})).reset_index(drop=True)

        list_players = [df[df["position"] == "G"].iloc[0].name] + list(df[df["position"] == "L"].iloc[0:2].index) + list(df[df["position"] == "Z"].iloc[0:2].index) + list(df[df["position"] == "M"].iloc[0:4].index) + list(df[df["position"] == "A"].iloc[0:2].index)

        lineup_players = df.iloc[list_players].reset_index(drop=True)
        lineup_players = lineup_players.rename(columns={"name":"jogador"})

        for i in range(len(lineup_players)):

            player = lineup_players.iloc[i]

            ENGINE.execute("""
                        INSERT INTO lineup_match (
                            id_match,
                            id_team,
                            name_team,
                            id_player,
                            name_player,
                            is_starter,
                            is_modified
                            )

                        VALUES (
                                
                            (SELECT match.id FROM match WHERE (match.date = '{}') AND (match.id_team_host = '{}'  OR match.id_team_visitor = '{}')),
                            
                            '{}',
                            
                            '{}',

                            (SELECT player.id FROM player WHERE (player.name = '{}') AND (player.name_team = '{}')),
                            
                            '{}',
                            
                            True,
                            
                            False);""".format(
                                date,
                                id,
                                id,
                                id,
                                name,
                                player.jogador,
                                name,
                                player.jogador,


                            ), con=engine)

    print("GERANDO RESULTADOS")

    for i in range(len(pd.read_sql_query("SELECT * FROM public.match WHERE date = '{}'".format(date), con=ENGINE))):

        host = str(pd.read_sql_query("SELECT * FROM public.match WHERE date = '{}'".format(date), con=ENGINE).iloc[i].id_team_host)
        visitor = str(pd.read_sql_query("SELECT * FROM public.match WHERE date = '{}'".format(date), con=ENGINE).iloc[i].id_team_visitor)

        players_ids = "("

        for i in range(len(pd.read_sql_query("SELECT id_player FROM public.lineup_match WHERE (id_team = '{}')".format(host), con=ENGINE)["id_player"])):

            if i == (len(pd.read_sql_query("SELECT id_player FROM public.lineup_match WHERE (id_team = '{}')".format(host), con=ENGINE)["id_player"]) - 1):
                players_ids += "'{}')".format(str(pd.read_sql_query("SELECT id_player FROM public.lineup_match WHERE (id_team = '{}')".format(host), con=ENGINE)["id_player"][i]))
            else:
                players_ids += "'{}',".format(str(pd.read_sql_query("SELECT id_player FROM public.lineup_match WHERE (id_team = '{}')".format(host), con=ENGINE)["id_player"][i]))

        host_team_strength = pd.read_sql_query("SELECT * FROM public.player WHERE player.id IN {}".format(players_ids), con=ENGINE)["strength"].mean()
        host_team_energy = pd.read_sql_query("SELECT * FROM public.player WHERE player.id IN {}".format(players_ids), con=ENGINE)["energy"].mean()

        players_ids = "("

        for i in range(len(pd.read_sql_query("SELECT id_player FROM public.lineup_match WHERE (id_team = '{}')".format(visitor), con=ENGINE)["id_player"])):

            if i == (len(pd.read_sql_query("SELECT id_player FROM public.lineup_match WHERE (id_team = '{}')".format(visitor), con=ENGINE)["id_player"]) - 1):
                players_ids += "'{}')".format(str(pd.read_sql_query("SELECT id_player FROM public.lineup_match WHERE (id_team = '{}')".format(visitor), con=ENGINE)["id_player"][i]))
            else:
                players_ids += "'{}',".format(str(pd.read_sql_query("SELECT id_player FROM public.lineup_match WHERE (id_team = '{}')".format(visitor), con=ENGINE)["id_player"][i]))

        visitor_team_strength = pd.read_sql_query("SELECT * FROM public.player WHERE player.id IN {}".format(players_ids), con=ENGINE)["strength"].mean()
        visitor_team_energy = pd.read_sql_query("SELECT * FROM public.player WHERE player.id IN {}".format(players_ids), con=ENGINE)["energy"].mean()
        
        if host_team_strength > visitor_team_strength:

            best_player = str(pd.read_sql_query("SELECT * FROM public.player WHERE team = '{}'".format(host), con=ENGINE).sort_values(by="strength").iloc[-1]["id"])
            
            engine.execute("""INSERT INTO played_match (
                                                    id_match,
                                                    id_championship,
                                                    public,
                                                    income
                                                )

                                                VALUES (
                                                    (SELECT id FROM public.match WHERE (id_team_host = '{}') AND (id_team_visitor = '{}') AND (date = '{}')),
                                                    (SELECT id FROM public.championship WHERE is_cup = 'False'),
                                                    50000,
                                                    100000
                                                );""".format(
                                                    host, 
                                                    visitor,
                                                    date, 
                                                    championship))

            engine.execute("""INSERT INTO event (
                                            id_match,
                                            id_team,
                                            name_team,
                                            id_player,
                                            name_player,
                                            event_type
                                        )

                                        VALUES (
                                            (SELECT id FROM public.match WHERE (id_team_host = '{}') AND (id_team_visitor = '{}') AND (date = '{}')),
                                            '{}',
                                            '{}',
                                            '{}',
                                            '{}',
                                            'goal');""".format(
                                                host,
                                                visitor,
                                                date,
                                                host,
                                                pd.read_sql_query("SELECT name FROM public.team WHERE id = '{}'".format(host), con=ENGINE)["name"][0],
                                                best_player,
                                                pd.read_sql_query("SELECT name FROM public.player WHERE id = '{}'".format(best_player), con=ENGINE)["name"][0]                                      
                                                ))

        else:

            best_player = str(pd.read_sql_query("SELECT * FROM public.player WHERE team = '{}'".format(visitor), con=ENGINE).sort_values(by="strength").iloc[-1]["id"])
            
            engine.execute("""INSERT INTO played_match (
                                                    id_match,
                                                    id_championship,
                                                    public,
                                                    income
                                                )

                                                VALUES (
                                                    (SELECT id FROM public.match WHERE (id_team_host = '{}') AND (id_team_visitor = '{}') AND (date = '{}')),
                                                    (SELECT id FROM public.championship WHERE is_cup = 'False'),
                                                    50000,
                                                    100000
                                                );""".format(
                                                    host, 
                                                    visitor,
                                                    date, 
                                                    championship))

            engine.execute("""INSERT INTO event (
                                            id_match,
                                            id_team,
                                            name_team,
                                            id_player,
                                            name_player,
                                            event_type
                                        )

                                        VALUES (
                                            (SELECT id FROM public.match WHERE (id_team_host = '{}') AND (id_team_visitor = '{}') AND (date = '{}')),
                                            '{}',
                                            '{}',
                                            '{}',
                                            '{}',
                                            'goal');""".format(
                                                host,
                                                visitor,
                                                date,
                                                visitor,
                                                pd.read_sql_query("SELECT name FROM public.team WHERE id = '{}'".format(visitor), con=ENGINE)["name"][0],
                                                best_player,
                                                pd.read_sql_query("SELECT name FROM public.player WHERE id = '{}'".format(best_player), con=ENGINE)["name"][0]                                      
                                                ))

In [228]:
for i in range(len(pd.read_sql_query("SELECT * FROM public.match WHERE date = '{}'".format(date), con=ENGINE))):

    host = str(pd.read_sql_query("SELECT * FROM public.match WHERE date = '{}'".format(date), con=ENGINE).iloc[i].id_team_host)
    visitor = str(pd.read_sql_query("SELECT * FROM public.match WHERE date = '{}'".format(date), con=ENGINE).iloc[i].id_team_visitor)

    players_ids = "("

    for i in range(len(pd.read_sql_query("SELECT id_player FROM public.lineup_match WHERE (id_team = '{}')".format(host), con=ENGINE)["id_player"])):

        if i == (len(pd.read_sql_query("SELECT id_player FROM public.lineup_match WHERE (id_team = '{}')".format(host), con=ENGINE)["id_player"]) - 1):
            players_ids += "'{}')".format(str(pd.read_sql_query("SELECT id_player FROM public.lineup_match WHERE (id_team = '{}')".format(host), con=ENGINE)["id_player"][i]))
        else:
            players_ids += "'{}',".format(str(pd.read_sql_query("SELECT id_player FROM public.lineup_match WHERE (id_team = '{}')".format(host), con=ENGINE)["id_player"][i]))

    host_team_strength = pd.read_sql_query("SELECT * FROM public.player WHERE player.id IN {}".format(players_ids), con=ENGINE)["strength"].mean()
    host_team_energy = pd.read_sql_query("SELECT * FROM public.player WHERE player.id IN {}".format(players_ids), con=ENGINE)["energy"].mean()

    players_ids = "("

    for i in range(len(pd.read_sql_query("SELECT id_player FROM public.lineup_match WHERE (id_team = '{}')".format(visitor), con=ENGINE)["id_player"])):

        if i == (len(pd.read_sql_query("SELECT id_player FROM public.lineup_match WHERE (id_team = '{}')".format(visitor), con=ENGINE)["id_player"]) - 1):
            players_ids += "'{}')".format(str(pd.read_sql_query("SELECT id_player FROM public.lineup_match WHERE (id_team = '{}')".format(visitor), con=ENGINE)["id_player"][i]))
        else:
            players_ids += "'{}',".format(str(pd.read_sql_query("SELECT id_player FROM public.lineup_match WHERE (id_team = '{}')".format(visitor), con=ENGINE)["id_player"][i]))

    visitor_team_strength = pd.read_sql_query("SELECT * FROM public.player WHERE player.id IN {}".format(players_ids), con=ENGINE)["strength"].mean()
    visitor_team_energy = pd.read_sql_query("SELECT * FROM public.player WHERE player.id IN {}".format(players_ids), con=ENGINE)["energy"].mean()
    
    if host_team_strength > visitor_team_strength:

        best_player = str(pd.read_sql_query("SELECT * FROM public.player WHERE team = '{}'".format(host), con=ENGINE).sort_values(by="strength").iloc[-1]["id"])
        
        engine.execute("""INSERT INTO played_match (
                                                id_match,
                                                id_championship,
                                                public,
                                                income
                                            )

                                            VALUES (
                                                (SELECT id FROM public.match WHERE (id_team_host = '{}') AND (id_team_visitor = '{}') AND (date = '{}')),
                                                (SELECT id FROM public.championship WHERE is_cup = 'False'),
                                                50000,
                                                100000
                                            );""".format(
                                                host, 
                                                visitor,
                                                date, 
                                                championship))

        engine.execute("""INSERT INTO event (
                                        id_match,
                                        id_team,
                                        name_team,
                                        id_player,
                                        name_player,
                                        event_type
                                    )

                                    VALUES (
                                        (SELECT id FROM public.match WHERE (id_team_host = '{}') AND (id_team_visitor = '{}') AND (date = '{}')),
                                        '{}',
                                        '{}',
                                        '{}',
                                        '{}',
                                        'goal');""".format(
                                            host,
                                            visitor,
                                            date,
                                            host,
                                            pd.read_sql_query("SELECT name FROM public.team WHERE id = '{}'".format(host), con=ENGINE)["name"][0],
                                            best_player,
                                            pd.read_sql_query("SELECT name FROM public.player WHERE id = '{}'".format(best_player), con=ENGINE)["name"][0]                                      
                                            ))

    else:

        best_player = str(pd.read_sql_query("SELECT * FROM public.player WHERE team = '{}'".format(visitor), con=ENGINE).sort_values(by="strength").iloc[-1]["id"])
        
        engine.execute("""INSERT INTO played_match (
                                                id_match,
                                                id_championship,
                                                public,
                                                income
                                            )

                                            VALUES (
                                                (SELECT id FROM public.match WHERE (id_team_host = '{}') AND (id_team_visitor = '{}') AND (date = '{}')),
                                                (SELECT id FROM public.championship WHERE is_cup = 'False'),
                                                50000,
                                                100000
                                            );""".format(
                                                host, 
                                                visitor,
                                                date, 
                                                championship))

        engine.execute("""INSERT INTO event (
                                        id_match,
                                        id_team,
                                        name_team,
                                        id_player,
                                        name_player,
                                        event_type
                                    )

                                    VALUES (
                                        (SELECT id FROM public.match WHERE (id_team_host = '{}') AND (id_team_visitor = '{}') AND (date = '{}')),
                                        '{}',
                                        '{}',
                                        '{}',
                                        '{}',
                                        'goal');""".format(
                                            host,
                                            visitor,
                                            date,
                                            visitor,
                                            pd.read_sql_query("SELECT name FROM public.team WHERE id = '{}'".format(visitor), con=ENGINE)["name"][0],
                                            best_player,
                                            pd.read_sql_query("SELECT name FROM public.player WHERE id = '{}'".format(best_player), con=ENGINE)["name"][0]                                      
                                            ))

In [222]:
best_player = str(pd.read_sql_query("SELECT * FROM public.player WHERE team = '{}'".format(host), con=ENGINE).sort_values(by="strength").iloc[-1]["id"])

In [227]:
pd.read_sql_query("SELECT name FROM public.team WHERE id = '{}'".format(host), con=ENGINE)["name"][0]

'Cruzeiro'

In [ ]:
if host_team_strength > visitor_team_strength:

    best_player = str(pd.read_sql_query("SELECT * FROM public.player WHERE team = '{}'".format(host), con=ENGINE).sort_values(by="strength").iloc[-1]["id"])
    
    engine.execute("""INSERT INTO played_match (
                                            id_match,
                                            id_championship,
                                            public,
                                            income
                                        )

                                        VALUES (
                                            (SELECT id FROM public.match WHERE (id_team_host = '{}') AND (id_team_visitor = '{}') AND (date = '{}')),
                                            (SELECT id FROM public.championship WHERE is_cup = 'False'),
                                            50000,
                                            100000
                                        );""".format(
                                            host, 
                                            visitor,
                                            date, 
                                            championship))

    engine.execute("""INSERT INTO event (
                                    id_match,
                                    id_team,
                                    name_team,
                                    id_player,
                                    name_player,
                                    event_type
                                )

                                VALUES (
                                    (SELECT id FROM public.match WHERE (id_team_host = '{}') AND (id_team_visitor = '{}') AND (date = '{}')),
                                    '{}',
                                    '{}',
                                    '{}',
                                    '{}',
                                    'goal');""".format(
                                           host,
                                           visitor,
                                           date,
                                           host,
                                           pd.read_sql_query("SELECT name FROM public.team WHERE id = '{}'".format(host), con=ENGINE)["name"][0],
                                           best_player,
                                           pd.read_sql_query("SELECT name FROM public.player WHERE id = '{}'".format(best_player), con=ENGINE)["name"][0]                                      
                                        ))

else:

    best_player = str(pd.read_sql_query("SELECT * FROM public.player WHERE team = '{}'".format(visitor), con=ENGINE).sort_values(by="strength").iloc[-1]["id"])
    
    engine.execute("""INSERT INTO played_match (
                                            id_match,
                                            id_championship,
                                            public,
                                            income
                                        )

                                        VALUES (
                                            (SELECT id FROM public.match WHERE (id_team_host = '{}') AND (id_team_visitor = '{}') AND (date = '{}')),
                                            (SELECT id FROM public.championship WHERE is_cup = 'False'),
                                            50000,
                                            100000
                                        );""".format(
                                            host, 
                                            visitor,
                                            date, 
                                            championship))

    engine.execute("""INSERT INTO event (
                                    id_match,
                                    id_team,
                                    name_team,
                                    id_player,
                                    name_player,
                                    event_type
                                )

                                VALUES (
                                    (SELECT id FROM public.match WHERE (id_team_host = '{}') AND (id_team_visitor = '{}') AND (date = '{}')),
                                    '{}',
                                    '{}',
                                    '{}',
                                    '{}',
                                    'goal');""".format(
                                           host,
                                           visitor,
                                           date,
                                           visitor,
                                           pd.read_sql_query("SELECT name FROM public.team WHERE id = '{}'".format(visitor), con=ENGINE)["name"][0],
                                           best_player,
                                           pd.read_sql_query("SELECT name FROM public.player WHERE id = '{}'".format(best_player), con=ENGINE)["name"][0]                                      
                                        ))

In [ ]:
engine.execute("""INSERT INTO event (
                                    id_match,
                                    id_team,
                                    name_team,
                                    id_player,
                                    name_player,
                                    event_type
                                )

                                VALUES (
                                    (SELECT match.id FROM match WHERE (match.date = '{}') AND (match.id_team_host = '{}' OR match.id_team_visitor = '{}') LIMIT 1),
                                    '{}'
                                    'Corinthians',
                                    (SELECT player.id FROM player,team WHERE (player.team = team.id AND team.name = 'Corinthians' AND player.name = 'Yuri Alberto') LIMIT 1),
                                    'Yuri Alberto',
                                    'goal');""".format(date.strftime("%m/%d/%Y"), team_id, team_id, team_id))

In [ ]:
championship = str(list(pd.read_sql_query("SELECT id FROM public.championship WHERE is_cup = 'False'", con=ENGINE)["id"])[0])

engine.execute("""INSERT INTO played_match (
                                            id_match,
                                            id_championship,
                                            public,
                                            income
                                        )

                                        VALUES (
                                            (SELECT match.id FROM match WHERE (match.date = '{}') AND (match.id_team_host = '{}'  OR match.id_team_visitor = '{}') LIMIT 1),
                                            '{}',
                                            50000,
                                            1000000
                                        );""".format(date.strftime("%m/%d/%Y"), team_id, team_id, championship))

engine.execute("""INSERT INTO event (
                                    id_match,
                                    id_team,
                                    name_team,
                                    id_player,
                                    name_player,
                                    event_type
                                )

                                VALUES (
                                    (SELECT match.id FROM match WHERE (match.date = '{}') AND (match.id_team_host = '{}' OR match.id_team_visitor = '{}') LIMIT 1),
                                    '{}'
                                    'Corinthians',
                                    (SELECT player.id FROM player,team WHERE (player.team = team.id AND team.name = 'Corinthians' AND player.name = 'Yuri Alberto') LIMIT 1),
                                    'Yuri Alberto',
                                    'goal');""".format(date.strftime("%m/%d/%Y"), team_id, team_id, team_id))


else:
championship = str(pd.read_sql_query("""SELECT * FROM match WHERE (match.date = '{}') AND (match.id_team_host = '{}'  OR match.id_team_visitor = '{}')""".format(date.strftime("%m/%d/%Y"), team_id,team_id), con=engine)["id_championship"].values[0])

engine.execute("""INSERT INTO played_match (
                                    id_match,
                                    id_championship,
                                    public,
                                    income
                                )

                                VALUES (
                                    (SELECT match.id FROM match WHERE (match.date = '{}') AND (match.id_team_host = '{}' OR match.id_team_visitor = '{}') LIMIT 1),
                                    '{}',
                                    50000,
                                    1000000
                                );""".format(date.strftime("%m/%d/%Y"), visitor_id, visitor_id, championship))

engine.execute("""INSERT INTO event (
                                    id_match,
                                    id_team,
                                    name_team,
                                    id_player,
                                    name_player,
                                    event_type
                                )

                                VALUES (
                                    (SELECT match.id FROM match WHERE (match.date = '{}') AND (match.id_team_host = '{}' OR match.id_team_visitor = '{}') LIMIT 1),
                                    '{}',
                                    'Palmeiras',
                                    (SELECT player.id FROM player,team WHERE (player.team = team.id AND team.name = 'Palmeiras' AND player.name = 'Rafael Navarro') LIMIT 1),
                                    'Rafael Navarro',
                                    'goal');""".format(date.strftime("%m/%d/%Y"), visitor_id, visitor_id, visitor_id))




i += 7